<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 64px;
                font-weight: 200;
                margin-bottom: 0;
                margin-top: 0;
            }
        </style>
    </head>
    <body>
        <h1>EMPLEADO</h1>
        <section id="filter">
            <fieldset>
                <legend>FILTRAR</legend>
                    <form action="empleado" method="get">
                        <input type="text" name="txtEmail" placeholder="BUSCAR POR EMAIL">
                        <button>BUSCAR</button>
                    </form>
            </fieldset>
        </section>
        
        <section id="table-body">
            <table cellspacing="10" align="center">
                <thead style="color: #000;">
                    <tr>
                        <td>NAME</td>
                        <td>EMAIL</td>
                        <td>POSITION</td>
                        <td>SALARY</td> 
                    </tr>
                </thead>
                <tbody>
                    <?php if (isset($empleado)) : ?>
                        <?php foreach ($empleado as $v) : ?>
                            <tr>
                                <td><a href="empleado/<?php echo $v['id']; ?>?v=<?php echo base64_encode(serialize($v)) ?>"><?php echo $v['name']; ?></a></td>
                                <td><?php echo $v['email']; ?></td>
                                <td><?php echo $v['position']; ?></td>
                                <td><?php echo $v['salary']; ?></td>
                            </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
            </table>
        </section>
    </body>
</html>
