<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Slim 3</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
        <style>
            body {
                margin: 50px 0 0 0;
                padding: 0;
                width: 100%;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                text-align: center;
                color: #aaa;
                font-size: 18px;
            }

            h1 {
                color: #719e40;
                letter-spacing: -3px;
                font-family: 'Lato', sans-serif;
                font-size: 64px;
                font-weight: 200;
                margin-bottom: 0;
                margin-top: 0;
            }
        </style>
    </head>
    <body>
        <h1>VER EMPLEADO <br><?php echo isset($args)? $args['id'] : '' ?></h1>
        
        <section>
            <ul>
                <li>name: <i><?php echo $empleado['name']; ?></i></li>
                <li>email: <i><?php echo $empleado['email']; ?></i></li>
                <li>phone: <i><?php echo $empleado['phone']; ?></i></li>
                <li>address: <i><?php echo $empleado['address']; ?></i></li>
                <li>position: <i><?php echo $empleado['position']; ?></i></li>
                <li>salary: <i><?php echo $empleado['salary']; ?></i></li>
                <li>
                    skills: 
                    <i>
                    <?php
                        $skills = '';
                            if (is_array($empleado['skills'])) {
                                foreach($empleado['skills'] as $v) {
                                    $skills .= implode(' | ', $v) . ' - ';
                                }
                            } else {
                                echo $empleado['skills'];
                            }
                        echo $skills;
                    ?>
                    </i>
                </li>
            </ul>
        </section>

        <section style="text-align: center;">
            
        </section>

    </body>
</html>
